@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* neutral */
  --very-dark-blue: sl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: (0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-image__desktop {
  display: none;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--cream);
}

.card {
  background-color: white;
  width: 21.438rem;
  border-radius: 10px;
  overflow: hidden;
}

.card-image__mobile {
  width: 100%;
  height: auto;
}

.card-content__wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  padding: 1.45rem 0;
}

.card-content__category {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: var(--dark-grayish-blue);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.card-content__title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: bold;
}

.card-content__description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  line-height: 23px;
}

.price__green {
  color: var(--dark-cyan);
  font-size: 32px;
  font-family: "Fraunces", serif;
}

.price__old {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.price-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-button {
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 8px;
  color: var(--cream);
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 0.75rem 0;
  transition: background 0.3s ease-in-out;
}

.card-button:hover {
  background: #1a4032;
}

.attribution {
  background: var(--cream);
}

/* media queries */

/* md and higher */

@media (min-width: 768px) {
  .card {
    display: grid;
    width: 37.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-image__mobile {
    display: none;
  }

  .card-image__desktop {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-content__wrapper {
    width: 78%;
  }

  .price-container {
    margin: 1rem 0;
  }
}
